/*Selector Universal*/
*{
    box-sizing: border-box;
}



body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {

    height: 10%;
    width: 90%;
    margin: 1em auto;
    padding-top: 25px;
    border-radius: 0.5em;
    padding: 50px;
    background-color: rgb(133, 231, 199);
    text-align: center;
}

.section2{
    float: left;
    padding-left: 125px;

}

section {
    height: 10%;
    width: 90%;
    margin: 1em auto;
    padding-top: 25px;
    border-radius: 0.5em;
    flex: 60%;
    background-color: rgb(150, 165, 247);
    padding: 20px;
}

footer {
    height: 10%;
    width: 90%;
    margin: 1em auto;
    padding-top: 25px;
    border-radius: 0.5em;
    padding: 20px;
    text-align: center;
    background-color: rgb(149, 240, 157);

}

.contenedor{
    display: flex;
    flex-wrap: wrap;
    background-color: bisque;
    padding: 10px;
    border: 2px solid black;
    height: 300;
    flex-direction: row-reverse;
    justify-content: center;
}
.contenedor div{
    background-color: aquamarine;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border: 2px solid rgb(128, 0, 0);
 
}

.borrar{

    float: right;

}

.tabla{

    font-family: 'Segoe UI';
    font-size: medium;
    margin-left: 15px;
    margin-right: 15px;
    margin: 15px;

}